@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

  body {
    background-color: #18191A;
  }

  .App {
    text-align: center;
  }

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
/* NavBar */

.navbar {
  font-size: 20px;
  padding: 0 3rem;
}

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .App-link {
    color: #61dafb;
  }
.navbar_list {
  display: flex;
  padding: 0;
  align-items: center;
  list-style: none;
}

.navbar_list a{
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding: 0 1rem;
  align-items: center;
}

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .particles-background{
    background: url('./assets/acmmesh.png') no-repeat center center;
    background-size: cover;
  }

  .dm-mono{
    font-family: 'DM Mono', monospace;
  }
.navbar_list img{
  width: 9rem;
  height: auto;
  margin-right: auto;
}