body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* This styles the scrollbar track*/
::-webkit-scrollbar-track {
  background: #18191A; /* Light grey background */
}

/* This styles the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #888; /* Darker grey thumb */
}

/* Handle the scrollbar thumb hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Even darker grey on hover */
}

/* This styles the scrollbar itself */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}
